<ion-navbar *navbar>
  <ion-title>{{data.title}}</ion-title>
  <ion-buttons end>
    <button (tap)="addFav(novel)">
      <ion-icon name="star"></ion-icon>
    </button>
    <button (tap)="openInBrowser(data)">
      <ion-icon name="open"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content padding>
  <center><img [hidden]="!novel.cover" src="{{novel.cover}}" alt="{{novel.title}} cover"></center>
  <center><h5>{{novel.status}}</h5></center>
  <h5 [hidden]="!novel.updateDate">Update date : </h5>
  <span>{{novel.updateDate}}</span>
  <!--<ion-datetime displayFormat="DDDD MMMM, YYYY HH:mm" [ngModel]="novel.updateDate"></ion-datetime>-->

  <h5>{{novel.author}}</h5>
  <h5>{{novel.illustrator}}</h5>
  <h5 [hidden]="!novel.synopsis">Synopsis :</h5>
  <p>{{novel.synopsis}}</p>
  <span *ngFor="let arc of novel.tome">
    <h4 class="center">{{arc.title}}</h4>
    <ion-list class="list">
      <div *ngFor="let items of arc.tome">
        <ion-item text-wrap [ngClass]="setClass(items.cover)" class="item" [ngClass]="isGroupShown(items) ? 'ion-minus' : 'ion-plus'" (tap)="toggleGroup(items)" [ngClass]="{active: isGroupShown(items)}">
          <ion-thumbnail [hidden]="!items.cover" item-left>
            <img class="item-image" src="{{items.cover}}">
          </ion-thumbnail>
          <h2>{{items.title}}</h2>
        </ion-item>
        <ion-item text-wrap class="item-accordion item" *ngFor="let item of items.chapters" [hidden]="!isGroupShown(items)" [navPush]="pushPage" [navParams]="{data: item}">
          {{item.title}}
        </ion-item>
      </div>
    </ion-list>
  </span>
</ion-content>